
/* Add a black background color to the top navigation */
.topnav {
  background-color: rgb(170, 170, 170);
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #000000;
  padding: 0.6rem 1.2rem;
  text-decoration: none;
  font-size: 0.875rem;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: rgb(175, 209, 255);
  color: rgb(0, 0, 0);
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #cc7a7a;
  color: white;
}


* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 10000px;
  position: relative;
  margin: auto;
}

/* The dots/bullets/indicators */
.dot {
  height: 5px;
  width: 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  margin-bottom: 10px;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 15.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media all and (max-width: 300px) {
  .text {font-size: 11px}
}

.logo {
  width: 4rem;
  position: absolute;
  top: 5rem;
  left: 5rem;
}

.paragraph {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 2rem;
  width: 15rem;
  position: absolute;
  color: rgb(255, 255, 255);
  top: 2.5rem;
  left: 10rem;
  filter: drop-shadow(5px 5px 5px #000000);
}

.heading1 {
  font-size: 2.5rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: rgb(0, 0, 0);
  background-color: rgb(221, 147, 147);
  text-align: center;
  padding: 1rem;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;  
}

.describe {
  font-size: 1.2rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: black;
  margin-top: -2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  padding-bottom: 1rem;
  text-align: center;
}

.heading2 {
  font-size: 2rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: rgb(255, 255, 255);
  background-color: rgb(68, 94, 155);
  text-align: center;
  padding: 1rem;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;  
  margin-bottom: -10px;
}

.greeting {
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
  font-family: monospace;
  margin-left: 1rem;
  margin-right: 0.5rem;
  padding-bottom: 1rem;
}

.team {
  font-size: 0.95rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: black;
  margin-top: -2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  padding-bottom: 1rem;
}

.body {
  background-color: rgb(228, 228, 228);
}

.content {
  background-color: white;
  margin-left: 3rem;
  margin-right: 3rem;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;  
}

.about {
  background-color: white;
  margin-left: 3rem;
  margin-right: 3rem;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  text-align: center;
  font-family: monospace;
  font-size: 1.5rem;
  }

  
